
// LAYOUT VARIABLES

/* -------------------------------------
 * Compenent Size Variables
 * ------------------------------------- */
  $dashboard-cta-height: 15vh;
  $show-banner-height: 70vh;
  $blog-entry-banner-height: 50vh;
  $footer-height: 300px; // change


/* -------------------------------------
 * Dashboard Layout Variables
 * ------------------------------------- */

  // different for the left container depending on existence of cta or not

  $dashboard-content-height-simple: calc(100vh - #{$navbar-height});

  $dashboard-content-right-height: calc(100vh - #{$navbar-height} - #{$sub_navbar-height});

  $dashboard-content-left-height: calc(100vh - #{$navbar-height} - #{$sub_navbar-height} - #{$dashboard-cta-height});

  $dashboard-content-left-height-no-sub_navbar: calc(100vh - #{$navbar-height} - #{$dashboard-cta-height});

  $dashboard-content-left-bottom-position: $dashboard-cta-height;


/* -------------------------------------
 * Show Layout Variables
 * ------------------------------------- */

  $show-content-position: calc(#{$show-banner-height} + #{$navbar-height});
  $show-content-position-with-sub_navbar: calc(#{$show-banner-height} + #{$navbar-height} + #{$sub_navbar-height});


/* -------------------------------------
 * blog-entry Layout Variables
 * ------------------------------------- */

$blog-entry-content-position: calc(#{$blog-entry-banner-height} + #{$navbar-height});
