.selectize-input {
  border-radius: 0;
  border: 1px solid $gray-lighter;
  &:hover {
  border-radius: 0;
  border: 1px solid $gray-lighter;
  }
}
.focus {
  border-radius: 0;
  border: 1px solid $gray-lighter;
}
