  <h1>Create your <%= @product.class %></h1>
  <%= default_form_for(@product, {remote: true}) %>
<%# render 'shared/components/form-default', object: @product, remote: true %>

<%= link_to 'Back', products_path %>
