<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <div class="container">
    <button class="btn btn-default">Lorem Ipsum</button>
  </div>
</div>
